body {
    margin: 0;
    padding: 0;
}

.circle-image {
    width: 140px;
    height: 140px; 
    border-radius: 50%; 
    overflow: hidden; 
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.circle-image img {
    width: 150%; 
    height: auto;
    position: relative;
}

.author-box {
    background-color: #f8f9fa; 
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}